---
import loading from "../../assets/img/loading.gif";
---

<div class="chart">
  <canvas id="forecastChart" class="forecastChart global-hidden"></canvas>
  <div class="loading" id="loading"><img src={loading} width="60" alt="" /></div>
  <div class="margin">
    <table>
      <tr>
        <th>Your IP is:</th>
        <td id="yourIP"><img src={loading} width="20" alt="" /></td>
      </tr>
      <tr>
        <th id="yourLocationLabel">Your location:</th>
        <td id="yourLocation"><img src={loading} width="20" alt="" /></td>
      </tr>
      <tr>
        <th>Current temperature</th>
        <td id="temp"><img src={loading} width="20" alt="" /></td>
      </tr>
      <tr>
        <th>Rain chance:</th>
        <td id="rain"><img src={loading} width="20" alt="" /></td>
      </tr>
      <tr>
        <th>Location:<button id="btGetLocation" class="btget">Update</button></th>
        <td>
          <div id="latitude"><img src={loading} width="20" alt="" /></div>
          <div id="longitude"><img src={loading} width="20" alt="" /></div>
          <div id="geolocationinfo"></div>
          <div id="gotcoords" class="global-hidden">false</div>
        </td>
      </tr>
    </table>

    <div class="infobox">
      <h2 class="global-hidden">Full URL:</h2>
      <h3 class="global-hidden" id="URL"></h3>
    </div>
  </div>
</div>

<script>

</script>

<style>
  .forecastChart {
    max-width: var(--max-content-width);
    max-height: 400px;
  }
  .margin {
    margin: 20px;
  }

  td {
    margin: 0;
    padding: 0 20px;
  }

  th {
    text-align: start;
    min-width: 200px;
  }

  .loading {
    text-align: center;
    margin: 40px;
  }
  #latitude::before {
    content: 'Lat: '
  }
  #longitude::before {
    content: 'Lon: '
  }
  .btget {
    margin: 5px 10px;
    padding: 5px 10px;
  }

  #geolocationinfo {
    font-size: 10px;
    font-weight: bold;
    color:gray;
  }
</style>
