---
import loading from "../../assets/img/loading.gif";
---

<div class="chart">
  <canvas id="forecastChart" class="forecastChart global-hidden"></canvas>
  <div class="loading" id="loading"><img src={loading} width="60" alt="" /></div>
  <div class="margin">
    <table>
      <tr>
        <th>Your IP is:</th>
        <td id="yourIP"><img src={loading} width="20" alt="" /></td>
      </tr>
      <tr>
        <th>Your aproximate location:</th>
        <td id="yourLocation"><img src={loading} width="20" alt="" /></td>
      </tr>
      <tr>
        <th>Current temperature</th>
        <td id="temp"><img src={loading} width="20" alt="" /></td>
      </tr>
      <tr>
        <th>Rain chance:</th>
        <td id="rain"><img src={loading} width="20" alt="" /></td>
      </tr>
    </table>

    <div class="infobox">
      <h2 class="global-hidden">Full URL:</h2>
      <h3 class="global-hidden" id="URL"></h3>
    </div>
  </div>
</div>

<script>
  
</script>

<style>
  .forecastChart {
    max-width: 800px;
    max-height: 400px;
  }
  .margin {
    margin: 20px;
  }

  td {
    margin: 0;
    padding: 0 20px;
  }

  th {
    text-align: start;
  }

  .loading {
    text-align: center;
    margin: 40px;
  }
</style>
